@model IEnumerable<Notizen.Model.NotizModelList>

@{
    ViewData["Title"] = "Liste";
}

<h2>Liste</h2>

@*<p>
    <a asp-action="Neu">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wichtigkeit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abgeschlossen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erstelldatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErledigtBis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wichtigkeit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abgeschlossen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erstelldatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErledigtBis)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
