@using Notizen.Model
@model IEnumerable<NotizModelListe>

@{
    ViewData["Title"] = "Liste";
}

<ul class="list-unstyled liste-menu">
    <li><a asp-action="Neu" class="btn btn-default">Neue Notiz</a></li>
    <li><a asp-action="WechsleStyle" class="btn btn-default">wechsle Style</a></li>
</ul>
<ul class="list-unstyled liste-filter">
    <li>
        <ul class="list-unstyled liste-filter-links">
            <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.ErledigtBisDatum" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.ErledigtBisDatum.ToString() ? "active" : "")">Erledigt Bis</a></li>
            <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.Wichtigkeit" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.Wichtigkeit.ToString() ? "active" : "")">Wichtigkeit</a></li>
            <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.Erstelldatum" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.Erstelldatum.ToString() ? "active" : "")">Erstelldatum</a></li>
        </ul>
    </li>
    <li><a asp-action="WechsleFilter" class="btn btn-default @(ViewBag.FilterAbgeschlossen == true.ToString() ? "active" : "")">Ohne Erledigte</a></li>

</ul>
@if(Model.Any()) {
    <ol class="notiz list-unstyled">
        @foreach (var item in Model)
        {
            Html.RenderPartial("ListeEinzelNotiz", item);
        }
    </ol>
}
else
{
    <div class="alert alert-success" role="alert">Keine Notizen. Alles erledigt!</div>
}
