@using Notizen.Model
@model IEnumerable<Notizen.Model.NotizModelListe>

@{
    ViewData["Title"] = "Liste";
}

<ul class="list-unstyled">
    <li>
        <a asp-action="Neu" class="btn btn-default">Neue Notiz</a>
    </li>
    <li>
        <a asp-action="WechsleStyle" class="btn btn-default">wechsle Style</a>
    </li>
</ul>
<ul class="list-unstyled">
    <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.ErledigtBisDatum" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.ErledigtBisDatum.ToString() ? "active" : "")">Erledigt Bis</a></li>
    <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.Wichtigkeit" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.Wichtigkeit.ToString() ? "active" : "")">Wichtigkeit</a></li>
    <li><a asp-action="WechsleSortierung" asp-route-id="@SortierungsTyp.Erstelldatum" class="btn btn-default @(ViewBag.Sortierung == SortierungsTyp.Erstelldatum.ToString() ? "active" : "")">Erstelldatum</a></li>
    <li><a asp-action="WechsleFilter" class="btn btn-default @(ViewBag.FilterAbgeschlossen == true.ToString() ? "active" : "")">Abgeschlossene ausblenden</a></li>
    </li>
</ul>
@if(Model.Any()) {
    <ol class="list-unstyled">
        @foreach (var item in Model)
        {
        <li>
            <div>
                <div>Bis <span class="relativedate" title="@item.ErledigtBis">@item.ErledigtBis</span></div>
                <div>@item.Titel</div>
                <div>
                    <span class="rating">
                        @for(int i = 0; i < 5; i++) {
                            <div class="rating-static rating-@(item.Wichtigkeit > i ? "on" : "off")"></div>
                        }
                    </span>
                </div>
            </div>
            <div class="checkbox disabled">
                <label>
                    <input type="checkbox" value="" disabled @(item.Abgeschlossen ? "checked": "")>
                    <span>Erledigt
                    @if (item.Abgeschlossen)
                    {
                        <span>[<span class="relativedate" title="@item.ErledigtBis">@item.ErledigtBis</span>] <span style="color:red" title="TODO: Abschlussdatum im Model speichern">TODO</span></span>
                    }
                    </span>
                </label>
            </div>
            <div class="form-group"><textarea class="form-control" rows="3" disabled>@item.Beschreibung</textarea></div>
            <div>
                <a asp-action="Editieren" asp-route-id="@item.Id" class="btn btn-default">Editieren</a>
                <a asp-action="Loeschen" asp-route-id="@item.Id" class="btn btn-danger">Löschen</a>
            </div>
        </li>
        }
    </ol>
}
else
{
    <div class="alert alert-success" role="alert">Keine Notizen. Alles erledigt!</div>
}
